<div class="main margin45">
    <div class="width682">
<style>
    .pagination {text-align: center;line-height: 34px;}
    .previous_page {width: 110px;height: 36px;border-radius: 15px;border: 1px solid #00B4FF;text-align: center;line-height: 36px;color: #000;float: left;}
    .next_page {width: 110px;height: 36px;border-radius: 15px;border: 1px solid #00B4FF;text-align: center;line-height: 36px;color: #000;float: right;}
    .short-flag2 a {margin-bottom: 2px; }
</style>
<div><%=@name %></div>
        <% @articles_list.each do |a|%>
        <div class="con-block">
            <div class="block-left">
                <a href='<%=frontend_article_path(a,:state=>"article")%>'>
                    <img width="202" height="167" src="<%= a.avatar.present? ? a.avatar : asset_url('f_01.png')  %>">
                </a>
            </div>
            <div class="block-right">
                <div class="block-right-title"><%= link_to a.title , frontend_article_path(a,:state=>"article")%></div>
                <div class="short-flag1"><a class="short-flag-blue" href="<%=frontend_article_path(a.category_id,:state=>'category') %>"><%=@tag_name.present? ? @tag_name : a.category.name %></a><a class="short-flag-gray"><%=a.created_at.strftime('%Y-%m-%d %H:%M:%S') %></a>
                </div>
                <div class="short-flag2">
                    <%  a.tags.each do |t| %>
                    <a href='<%=frontend_article_path(t,:state=>"tag")%>'><%= t.name %></a>
                    <% end %>
                </div>
                <div class="block-right-des"><%=a.abstact %></div>
            </div>
        </div>
        <% end %>
        <div class="pageinfo">

<script>
    $(function(){
        $(".previous_page").html("<上一页>")
        $(".next_page").html("下一页>")
    });
    
</script>
            <%= will_paginate @articles_list %>
        </div>
    </div>
    <%= render "/layouts/right"%>
</div>        