

<!--中间第一部分-->
<div class="main margin45">
    <div class="width682">
        <div class="main_01">
            <div class="focusimg1">
                <!--焦点图开始-->
                    <DIV class=right>
                        <DIV class=slide-pic id=slidePic>
                            <A class=gray id=prev hideFocus href="javascript:;">前移</A> 
                            <DIV class=pic-container>
                                <UL>
                                    <% @first_pic.each do |f|%>
                                  <LI class=cur>
                                  <P><a href="<%=frontend_article_path(f,:state=>'article')%>"><IMG src="<%=f.avatar %>"></a><span class=date><span class="date2"><%=f.title %></span><%=f.abstact %></span></P>
                                  <% end %>
                                </UL>
                            </DIV>
                             <A id=next hideFocus href="javascript:;">后移</A>
                        </DIV>
          
            <SCRIPT type=text/javascript>
            jQuery(function(){
            if (!$('#slidePic')[0]) 
            return;
            var i = 0, p = $('#slidePic ul'), pList = $('#slidePic ul li'), len = pList.length;
            var elePrev = $('#prev'), eleNext = $('#next');
            //var firstClick = false;
            var w = 289, num = 1;
            p.css('width',w*len);
            if (len <= num) 
            eleNext.addClass('gray');
            function prev(){
            if (elePrev.hasClass('gray')) {
            //alert('已经是第一张了');
            return;
            }
            p.animate({
            marginTop:-(--i) * w
            },500);
            if (i < len - num) {
            eleNext.removeClass('gray');
            }
            if (i == 0) {
            elePrev.addClass('gray');
            }
            }
            function next(){
            if (eleNext.hasClass('gray')) {
            //alert('已经是最后一张了');
            return;
            }
            //p.css('margin-left',-(++i) * w);
            p.animate({
            marginTop:-(++i) * w
            },500);
            if (i != 0) {
            elePrev.removeClass('gray');
            }
            if (i == len - num) {
            eleNext.addClass('gray');
            }
            }
            elePrev.bind('click',prev);
            eleNext.bind('click',next);
            pList.each(function(n,v){
            $(this).click(function(){
            if(n-i == 2){
            next();
            }
            if(n-i == 0){
            prev()
            }
            $('#slidePic ul li.cur').removeClass('cur');
            $(this).addClass('cur');
            show(n);
            }).mouseover(function(){
            $(this).addClass('hover');
            }).mouseout(function(){
            $(this).removeClass('hover');
            })
            });
            
            });
            </SCRIPT>
        </DIV>
                <!--焦点图结束-->
            </div>
            <div class="xinxi-01">
                <div class="xinxi-01-title">
                    <%  
                        i=1
                        @articles_new1.each do |new1| 
                    %>
                    <%if i==1%>
                        <h2><%= link_to new1.title , frontend_article_path(new1,:state=>"article") %></a></h2>
                    <% else %>
                        <span><%= link_to new1.title , frontend_article_path(new1,:state=>"article") %></span>
                        <% if i==2%>|
                        <% end%>
                    <% end %>
                    <% 
                        i+=1
                        end 
                    %>
                </div>
                
                <div class="paragraph-01">
                   <%  
                        i=1
                        @articles_new2.each do |new2| 
                    %>
                    <%if i==1%>
                        <div class="red-shu fm f18 font-w600"><%= link_to new2.title , frontend_article_path(new2,:state=>"article") %></div>
                    <% else %>
                        <span><%= link_to new2.title , frontend_article_path(new2,:state=>"article") %></span>
                    <% end %>
                    <% 
                        i+=1
                        end 
                    %>
                </div>
                <div class="paragraph-01">
                   <%  
                        i=1
                        @articles_new3.each do |new3| 
                    %>
                    <%if i==1%>
                        <div class="red-shu fm f18 font-w600"><%= link_to new3.title , frontend_article_path(new3,:state=>"article") %></div>
                    <% else %>
                        <span><%= link_to new3.title , frontend_article_path(new3,:state=>"article") %></span>
                    <% end %>
                    <% 
                        i+=1
                        end 
                    %>
                </div>
                <div class="paragraph-01">
                   <%  
                        i=1
                        @articles_new4.each do |new4| 
                    %>
                    <%if i==1%>
                        <div class="red-shu fm f18 font-w600"><%= link_to new4.title , frontend_article_path(new4,:state=>"article") %></div>
                    <% else %>
                        <span><%= link_to new4.title , frontend_article_path(new4,:state=>"article") %></span>
                    <% end %>
                    <% 
                        i+=1
                        end 
                    %>
                </div>
              
            </div>
        </div>
        
        <div class="main_02">
            <div class="yanbao-left">
                <div class="yanbao-left-up">
                    <img src="<%=asset_url('i_03.png') %>">
                    <span class="fm f18 font-w600"><a>研报</a></span>
                </div>
                <div class="yanbao-left-down">
                    <ul>
                    <%
                    @categories_1.each do |ca|
                        article_info = Article.where("category_id = ?" ,ca.id).limit(1)
                        article_info.each do |ap|
                    %>
                        <li>
                            <div class="item"><%= ca.name %>|</div>
                            <span class="_title"><%= link_to ap.title , frontend_article_path(ap,:state=>"article") %></span>
                            <span class="_more"><%= link_to '更多>>' , frontend_article_path(ca,:state=>"category") %></span>
                        </li>
                        <% end %>
                    <% end %>
                    </ul>
                </div>
            </div>
            <div class="yanbao-right">
                <ul>
                    <%
                    @categories_2.each do |ca|
                        article_info = Article.where("category_id = ?" ,ca.id).limit(1)
                        article_info.each do |ap|
                    %>
                        <li>
                            <div class="item"><%=ca.name%>|</div>
                            <span class="_title"><%= link_to ap.title , frontend_article_path(ap,:state=>"article")%> </a></span>
                            <span class="_more"><%= link_to '更多>>' , frontend_article_path(ca,:state=>"category")%></span>
                        </li>
                        <% end %>
                    <% end %>
                    </ul>
            </div>
        </div>
        <!-- end -->
        
        <!-- 网贷专栏begin -->
        <div class="main_03">
            <div class="tab-01-title"><a href="#" >网贷专栏</a></div>
            <div class="tab-titles">
                <a style="cursor:pointer;" class="hover" id="wang1" onclick="setTab('wang',1,3)">看网贷</a>
                <a style="cursor:pointer;" id="wang2" onclick="setTab('wang',2,3)">网贷视野</a>
                <a style="cursor:pointer;" id="wang3" onclick="setTab('wang',3,3)">CEO头条</a>
            </div>
            <div class="content-tab">
<!--            里边具体的内容-->
                <div class="main-content-01" id="con_wang_1">
                    <div class="focusimg2">
<DIV class=right2>
                            <DIV class=slide-pic2 id=slidePic2>
                                <A class=gray id=prev2 hideFocus href="javascript:;">前移</A> 
                                <DIV class=pic-container>
                                    <UL>
                                        <% @kwd_pic.each do |k|%>
                                      <LI class=cur>
                                      <P><a href="<%=frontend_article_path(k)%>"><IMG src="<%= k.avatar.present? ? k.avatar : asset_url('f_01.png')  %>"></a><span class=date><span class="date2"><%=k.title%></span><%=k.abstact%></span></P>
                                      <% end %>
                                    </UL>
                                </DIV>
                                 <A id=next2 hideFocus href="javascript:;">后移</A>
                            </DIV>
                                    <SCRIPT type=text/javascript>
                                    jQuery(function(){
                                    if (!$('#slidePic2')[0]) 
                                    return;
                                    var i = 0, p = $('#slidePic2 ul'), pList = $('#slidePic2 ul li'), len = pList.length;
                                    var elePrev = $('#prev2'), eleNext = $('#next2');
                                    //var firstClick = false;
                                    var w = 247, num = 1;
                                    p.css('width',w*len);
                                    if (len <= num) 
                                    eleNext.addClass('gray');
                                    function prev(){
                                    if (elePrev.hasClass('gray')) {
                                    //alert('已经是第一张了');
                                    return;
                                    }
                                    p.animate({
                                    marginTop:-(--i) * w
                                    },500);
                                    if (i < len - num) {
                                    eleNext.removeClass('gray');
                                    }
                                    if (i == 0) {
                                    elePrev.addClass('gray');
                                    }
                                    }
                                    function next(){
                                    if (eleNext.hasClass('gray')) {
                                    //alert('已经是最后一张了');
                                    return;
                                    }
                                    //p.css('margin-left',-(++i) * w);
                                    p.animate({
                                    marginTop:-(++i) * w
                                    },500);
                                    if (i != 0) {
                                    elePrev.removeClass('gray');
                                    }
                                    if (i == len - num) {
                                    eleNext.addClass('gray');
                                    }
                                    }
                                    elePrev.bind('click',prev);
                                    eleNext.bind('click',next);
                                    pList.each(function(n,v){
                                    $(this).click(function(){
                                    if(n-i == 2){
                                    next();
                                    }
                                    if(n-i == 0){
                                    prev()
                                    }
                                    $('#slidePic2 ul li.cur').removeClass('cur');
                                    $(this).addClass('cur');
                                    show(n);
                                    }).mouseover(function(){
                                    $(this).addClass('hover');
                                    }).mouseout(function(){
                                    $(this).removeClass('hover');
                                    })
                                    });

                                    });
                                    </SCRIPT>
                     </DIV>
                    </div>
                    <div class="xinxi-01">
                        <div class="xinxi-01-title">
                            <h2><%=link_to @kwd.first.title, frontend_article_path(@kwd.first.id) %></h2>
                        </div>
                        <div class="paragraph-01">
                            <% 
                                i=1
                                @kwd_1.each do |info|
                                    if i==1
                            %>
                            <div class="red-shu fm f18 font-w600"><%=link_to info.title,frontend_article_path(info) %></div>
                            <% else %>
                            <span><%=link_to info.title,frontend_article_path(info) %></span>
                            <% 
                                end
                                i+=1
                            end 
                            %>
                        </div>
                        <div class="paragraph-01">
                            <% 
                                i=1
                                @kwd_2.each do |info|
                                    if i==1
                            %>
                            <div class="red-shu fm f18 font-w600"><%=link_to info.title,frontend_article_path(info) %></div>
                            <% else %>
                            <span><%=link_to info.title,frontend_article_path(info) %></span>
                            <% 
                                end
                                i+=1
                            end 
                            %>
                        </div>
                        <div class="paragraph-01">
                            <% 
                                i=1
                                @kwd_3.each do |info|
                                    if i==1
                            %>
                            <div class="red-shu fm f18 font-w600"><%=link_to info.title,frontend_article_path(info) %></div>
                            <% else %>
                            <span><%=link_to info.title,frontend_article_path(info) %></span>
                            <% 
                                end
                                i+=1
                            end 
                            %>
                        </div>
                    </div>
                </div>
                <div id="con_wang_2" style="display:none;">
                    <% 
                    if @wdsy.present?
                    %>
<div class="focusimg2">
<DIV class=right21>
                            <DIV class=slide-pic21 id=slidePic21>
                                <A class=gray id=prev21 hideFocus href="javascript:;">前移</A> 
                                <DIV class=pic-container>
                                    <UL>
                                        <% @wdsy_pic.each do |k|%>
                                      <LI class=cur>
                                      <P><a href="<%=frontend_article_path(k)%>"><IMG src="<%= k.avatar.present? ? k.avatar : asset_url('f_01.png')  %>"></a><span class=date1><span class="date21"><%=k.title%></span><%=k.abstact%></span></P>
                                      <% end %>
                                    </UL>
                                </DIV>
                                 <A id=next21 hideFocus href="javascript:;">后移</A>
                            </DIV>
                                    <SCRIPT type=text/javascript>
                                    jQuery(function(){
                                    if (!$('#slidePic21')[0]) 
                                    return;
                                    var i = 0, p = $('#slidePic21 ul'), pList = $('#slidePic21 ul li'), len = pList.length;
                                    var elePrev = $('#prev21'), eleNext = $('#next21');
                                    //var firstClick = false;
                                    var w = 247, num = 1;
                                    p.css('width',w*len);
                                    if (len <= num) 
                                    eleNext.addClass('gray');
                                    function prev(){
                                    if (elePrev.hasClass('gray')) {
                                    //alert('已经是第一张了');
                                    return;
                                    }
                                    p.animate({
                                    marginTop:-(--i) * w
                                    },500);
                                    if (i < len - num) {
                                    eleNext.removeClass('gray');
                                    }
                                    if (i == 0) {
                                    elePrev.addClass('gray');
                                    }
                                    }
                                    function next(){
                                    if (eleNext.hasClass('gray')) {
                                    //alert('已经是最后一张了');
                                    return;
                                    }
                                    //p.css('margin-left',-(++i) * w);
                                    p.animate({
                                    marginTop:-(++i) * w
                                    },500);
                                    if (i != 0) {
                                    elePrev.removeClass('gray');
                                    }
                                    if (i == len - num) {
                                    eleNext.addClass('gray');
                                    }
                                    }
                                    elePrev.bind('click',prev);
                                    eleNext.bind('click',next);
                                    pList.each(function(n,v){
                                    $(this).click(function(){
                                    if(n-i == 2){
                                    next();
                                    }
                                    if(n-i == 0){
                                    prev()
                                    }
                                    $('#slidePic21 ul li.cur').removeClass('cur');
                                    $(this).addClass('cur');
                                    show(n);
                                    }).mouseover(function(){
                                    $(this).addClass('hover');
                                    }).mouseout(function(){
                                    $(this).removeClass('hover');
                                    })
                                    });

                                    });
                                    </SCRIPT>
                     </DIV>
                    </div>
                    <div class="xinxi-01">
                        <div class="xinxi-01-title">
                            <h2><%=link_to @wdsy.first.title, frontend_article_path(@wdsy.first.id) %></h2>
                        </div>
                        <div class="paragraph-01">
                            <% 
                                i=1
                                @wdsy_1.each do |info|
                                    if i==1
                            %>
                            <div class="red-shu fm f18 font-w600"><%=link_to info.title,frontend_article_path(info) %></div>
                            <% else %>
                            <span><%=link_to info.title,frontend_article_path(info) %></span>
                            <% 
                                end
                                i+=1
                            end 
                            %>
                        </div>
                        <div class="paragraph-01">
                            <% 
                                i=1
                                @wdsy_2.each do |info|
                                    if i==1
                            %>
                            <div class="red-shu fm f18 font-w600"><%=link_to info.title,frontend_article_path(info) %></div>
                            <% else %>
                            <span><%=link_to info.title,frontend_article_path(info) %></span>
                            <% 
                                end
                                i+=1
                            end 
                            %>
                        </div>
                        <div class="paragraph-01">
                            <% 
                                i=1
                                @wdsy_3.each do |info|
                                    if i==1
                            %>
                            <div class="red-shu fm f18 font-w600"><%=link_to info.title,frontend_article_path(info) %></div>
                            <% else %>
                            <span><%=link_to info.title,frontend_article_path(info) %></span>
                            <% 
                                end
                                i+=1
                            end 
                            %>
                        </div>
                    </div>
                    <% else %>
                    暂无数据
                    <% end %>
                </div>

                <div id="con_wang_3" style="display:none;">
                    <% 
                    if @wdsy.present?
                    %>
<div class="focusimg2">
<DIV class=right2>
                            <DIV class=slide-pic22 id=slidePic22>
                                <A class=gray id=prev22 hideFocus href="javascript:;">前移</A> 
                                <DIV class=pic-container>
                                    <UL>
                                        <% @ctop_pic.each do |k|%>
                                      <LI class=cur>
                                      <P><a href="<%=frontend_article_path(k)%>"><IMG src="<%= k.avatar.present? ? k.avatar : asset_url('f_01.png')  %>"></a><span class=date2><span class="date22"><%=k.title%></span><%=k.abstact%></span></P>
                                      <% end %>
                                    </UL>
                                </DIV>
                                 <A id=next22 hideFocus href="javascript:;">后移</A>
                            </DIV>
                                    <SCRIPT type=text/javascript>
                                    jQuery(function(){
                                    if (!$('#slidePic22')[0]) 
                                    return;
                                    var i = 0, p = $('#slidePic22 ul'), pList = $('#slidePic22 ul li'), len = pList.length;
                                    var elePrev = $('#prev22'), eleNext = $('#next22');
                                    //var firstClick = false;
                                    var w = 247, num = 1;
                                    p.css('width',w*len);
                                    if (len <= num) 
                                    eleNext.addClass('gray');
                                    function prev(){
                                    if (elePrev.hasClass('gray')) {
                                    //alert('已经是第一张了');
                                    return;
                                    }
                                    p.animate({
                                    marginTop:-(--i) * w
                                    },500);
                                    if (i < len - num) {
                                    eleNext.removeClass('gray');
                                    }
                                    if (i == 0) {
                                    elePrev.addClass('gray');
                                    }
                                    }
                                    function next(){
                                    if (eleNext.hasClass('gray')) {
                                    //alert('已经是最后一张了');
                                    return;
                                    }
                                    //p.css('margin-left',-(++i) * w);
                                    p.animate({
                                    marginTop:-(++i) * w
                                    },500);
                                    if (i != 0) {
                                    elePrev.removeClass('gray');
                                    }
                                    if (i == len - num) {
                                    eleNext.addClass('gray');
                                    }
                                    }
                                    elePrev.bind('click',prev);
                                    eleNext.bind('click',next);
                                    pList.each(function(n,v){
                                    $(this).click(function(){
                                    if(n-i == 2){
                                    next();
                                    }
                                    if(n-i == 0){
                                    prev()
                                    }
                                    $('#slidePic22 ul li.cur').removeClass('cur');
                                    $(this).addClass('cur');
                                    show(n);
                                    }).mouseover(function(){
                                    $(this).addClass('hover');
                                    }).mouseout(function(){
                                    $(this).removeClass('hover');
                                    })
                                    });

                                    });
                                    </SCRIPT>
                     </DIV>
                    </div>
                    <div class="xinxi-01">
                        <div class="xinxi-01-title">
                            <h2><%=link_to @ctop.first.title, frontend_article_path(@ctop.first.id) %></h2>
                        </div>
                        <div class="paragraph-01">
                            <% 
                                i=1
                                @ctop_1.each do |info|
                                    if i==1
                            %>
                            <div class="red-shu fm f18 font-w600"><%=link_to info.title,frontend_article_path(info) %></div>
                            <% else %>
                            <span><%=link_to info.title,frontend_article_path(info) %></span>
                            <% 
                                end
                                i+=1
                            end 
                            %>
                        </div>
                        <div class="paragraph-01">
                            <% 
                                i=1
                                @ctop_2.each do |info|
                                    if i==1
                            %>
                            <div class="red-shu fm f18 font-w600"><%=link_to info.title,frontend_article_path(info) %></div>
                            <% else %>
                            <span><%=link_to info.title,frontend_article_path(info) %></span>
                            <% 
                                end
                                i+=1
                            end 
                            %>
                        </div>
                        <div class="paragraph-01">
                            <% 
                                i=1
                                @ctop_3.each do |info|
                                    if i==1
                            %>
                            <div class="red-shu fm f18 font-w600"><%=link_to info.title,frontend_article_path(info) %></div>
                            <% else %>
                            <span><%=link_to info.title,frontend_article_path(info) %></span>
                            <% 
                                end
                                i+=1
                            end 
                            %>
                        </div>
                    </div>
                    <% else %>
                    暂无数据
                    <% end %>                    
                </div>
            </div>
        </div>
        <!-- end -->

        <div class="main_04" style="min-height:168px;display:none">
            <div class="pingtai">
            <div class="tab-01-title"><a  href="##">搜平台</a></div></div>
            <div class="pingtai-con">
                  <div class="tese">
                    <div class="tese-title">平台状态&nbsp;&nbsp;：</div>
                    <ul>
                        <li><a href="/frontend/navigations">不限</a></li>
                        <% @problems.each do |i|%>
                            <li><%=link_to i.name , frontend_navigation_path(i,:state => 'problems') %></li>
                        <% end %>
                    </ul>
                </div>
                <div class="tese">
                    <div class="tese-title">平台考察&nbsp;&nbsp;：</div>
                    <ul>
                        <li><a href="/frontend/navigations">不限</a></li>
                        <% @investigates.each do |i|%>
                            <li><%=link_to i.name , frontend_navigation_path(i,:state => 'investigates') %></li>
                        <% end %>
                    </ul>
                </div>
                <div class="tese">
                    <div class="tese-title">上线时间&nbsp;&nbsp;：</div>
                    <ul>
                        <li><a href="/frontend/navigations">不限</a></li>
                        <% @lines.each do |i|%>
                            <li><%=link_to i.name , frontend_navigation_path(i,:state => 'lines') %></li>
                        <% end %>
                        
                    </ul>
                    <a href="#" class="btn btn-default btn-lg active" role="button">搜索</a>
                </div>
        
            </div>
            
        </div>
    </div>
    <%=render"/layouts/right"%>
</div>

<div class="main margin45">
        <a href="#"><img src="<%=asset_url('i_05.png') %>"></a>
</div>

<div class="main margin45">
    <div class="wangdai" style="display:none">
        <div class="tab-01-title"><a href="#" >网贷行情</a></div>
             <div class="main5-titles">
                <a  id="market1" class="hover" onClick="setTab('market',1,8)">小牛在线</a>
                <a  id="market2" onClick="setTab('market',2,8)">红岭创投</a>
                <a  id="market3" onClick="setTab('market',3,8)">金联储</a>
                <a  id="market4" onClick="setTab('market',4,8)">招商贷</a>
                <a  id="market5" onClick="setTab('market',5,8)">中金宝</a> 
                <a  id="market6" onClick="setTab('market',6,8)">金开贷</a> 
                <a  id="market7" onClick="setTab('market',7,8)">融金所</a> 
                <a  id="market8" onClick="setTab('market',8,8)">团贷网</a> 
            </div>
            <div class="main5content-tab">
                <div id="con_market_1"><img src="<%=asset_url('i_06.png') %>"></div>
                <div id="con_market_2" style="display:none;">红岭创投内容</div>
                <div id="con_market_3" style="display:none;">红岭创投内容</div>
                <div id="con_market_4" style="display:none;">红岭创投内容</div>
                <div id="con_market_5" style="display:none;">红岭创投内容</div>
                <div id="con_market_6" style="display:none;">红岭创投内容</div>
                <div id="con_market_7" style="display:none;">红岭创投内容</div>
                <div id="con_market_8" style="display:none;">红岭创投内容</div>
            </div>
    </div>

    <div class="touyou-circle">
            <div class="tab-01-title"><a href="#" >投友圈</a></div>
             <div class="main6-titles">
               <a  id="touyou1" class="hover" onClick="setTab('touyou',1,4)">政策解读</a>
                <a  id="touyou2" onClick="setTab('touyou',2,4)">平台要闻</a>
                <a  id="touyou3" onClick="setTab('touyou',3,4)">数据分析</a>
                <a  id="touyou4" onClick="setTab('touyou',4,4)">理财攻略</a>
            </div>
            <style>
                .touyou-circle ul li a img{width:234px;height:64px;}
            </style>
            <div class="main6content-tab">
                <div class="licai" id="con_touyou_1">
                    <ul>
                        <% @zcjd.each do |z|%>
                        <li><a href="<%=frontend_article_path(z)%>"><img src="<%=z.avatar.present? ? z.avatar : asset_url('f_01.png') %>" /></a>
                            <div class="licai-ul">
                                <span><%=link_to z.title, frontend_article_path(z)%></span>
                                <p><%=z.abstact%></p>
                            </div>
                        </li>
                        <% end %>
                    </ul>
                    <div class="licai-more"><a href="/frontend/news/2">更多>>></a></div>
                </div> 
                <div id="con_touyou_2" class="licai" style="display:none;">
                    <ul>
                        <% @ptyw.each do |z|%>
                        <li><a href="<%=frontend_article_path(z)%>"><img src="<%=z.avatar.present? ? z.avatar : asset_url('f_01.png') %>" /></a>
                            <div class="licai-ul">
                                <span><%=link_to z.title, frontend_article_path(z)%></span>
                                <p><%=z.abstact%></p>
                            </div>
                        </li>
                        <% end %>
                    </ul>
                    <div class="licai-more"><a href="/frontend/news/3">更多>>></a></div>
                </div>
                <div id="con_touyou_3" class="licai" style="display:none;">
                    <ul>
                        <% @sjfx.each do |z|%>
                        <li><a href="<%=frontend_article_path(z)%>"><img src="<%=z.avatar.present? ? z.avatar : asset_url('f_01.png') %>" /></a>
                            <div class="licai-ul">
                                <span><%=link_to z.title, frontend_article_path(z)%></span>
                                <p><%=z.abstact%></p>
                            </div>
                        </li>
                        <% end %>
                    </ul>
                    <div class="licai-more"><a href="/frontend/news/4">更多>>></a></div>
                </div>
                <div id="con_touyou_4" class="licai" style="display:none;">
                    <ul>
                        <% @lcgl.each do |z|%>
                        <li><a href="<%=frontend_article_path(z)%>"><img src="<%=z.avatar.present? ? z.avatar : asset_url('f_01.png') %>" /></a>
                            <div class="licai-ul">
                                <span><%=link_to z.title, frontend_article_path(z)%></span>
                                <p><%=z.abstact%></p>
                            </div>
                        </li>
                        <% end %>
                    </ul>
                    <div class="licai-more"><a href="/frontend/news/5">更多>>></a></div>
                </div>
            </div>
        </div>


        <div class="hot_tags">
            <div class="hot-title"><a>热门标签</a></div>
            <style>
            #tagscloud a.tagc3{background:#006633;color:#fff;}
            #tagscloud a.tagc4{background:#886633;color:#fff;}
            #tagscloud a.tagc6{background:#ff6633;color:#fff;}
            #tagscloud a.tagc7{background:#00ff33;color:#fff;}
            #tagscloud a.tagc8{background:#006611;color:#fff;}
            #tagscloud a.tagc9{background:#0bb633;color:#fff;}
            #tagscloud a.tagc10{background:#006223;color:#fff;}
            </style>
            <div id="tagscloud">
                <%
                    i = 1; 
                    @tags.each do |t| 
                %>
                <a href="<%= frontend_article_path(t,:state=>'tag') %>" class="tagc<%= i %>"><%=t.name %></a>
                <%
                    i+=1 
                    end
                 %>
            </div>
        </div>
        </div>
    </div>

<div class="main margin20" style="display:none">
    <div class="touyou-circle">
        <div class="tab-01-title"><a href="#" >投友圈</a></div>
         <div class="main6-titles">
           <a  id="touyou1" class="hover" onClick="setTab('touyou',1,4)">政策解读</a>
            <a  id="touyou2" onClick="setTab('touyou',2,4)">平台要闻</a>
            <a  id="touyou3" onClick="setTab('touyou',3,4)">数据分析</a>
            <a  id="touyou4" onClick="setTab('touyou',4,4)">理财攻略</a>
        </div>
        <style>
            .touyou-circle ul li a img{width:234px;height:64px;}
        </style>
        <div class="main6content-tab">
            <div class="licai" id="con_touyou_1">
                <ul>
                    <% @zcjd.each do |z|%>
                    <li><a href="<%=frontend_article_path(z)%>"><img src="<%=z.avatar.present? ? z.avatar : asset_url('f_01.png') %>" /></a>
                        <div class="licai-ul">
                            <span><%=link_to z.title, frontend_article_path(z)%></span>
                            <p><%=z.abstact%></p>
                        </div>
                    </li>
                    <% end %>
                </ul>
                <div class="licai-more"><a href="/frontend/news/2">更多>>></a></div>
            </div> 
            <div id="con_touyou_2" class="licai" style="display:none;">
                <ul>
                    <% @ptyw.each do |z|%>
                    <li><a href="<%=frontend_article_path(z)%>"><img src="<%=z.avatar.present? ? z.avatar : asset_url('f_01.png') %>" /></a>
                        <div class="licai-ul">
                            <span><%=link_to z.title, frontend_article_path(z)%></span>
                            <p><%=z.abstact%></p>
                        </div>
                    </li>
                    <% end %>
                </ul>
                <div class="licai-more"><a href="/frontend/news/3">更多>>></a></div>
            </div>
            <div id="con_touyou_3" class="licai" style="display:none;">
                <ul>
                    <% @sjfx.each do |z|%>
                    <li><a href="<%=frontend_article_path(z)%>"><img src="<%=z.avatar.present? ? z.avatar : asset_url('f_01.png') %>" /></a>
                        <div class="licai-ul">
                            <span><%=link_to z.title, frontend_article_path(z)%></span>
                            <p><%=z.abstact%></p>
                        </div>
                    </li>
                    <% end %>
                </ul>
                <div class="licai-more"><a href="/frontend/news/4">更多>>></a></div>
            </div>
            <div id="con_touyou_4" class="licai" style="display:none;">
                <ul>
                    <% @lcgl.each do |z|%>
                    <li><a href="<%=frontend_article_path(z)%>"><img src="<%=z.avatar.present? ? z.avatar : asset_url('f_01.png') %>" /></a>
                        <div class="licai-ul">
                            <span><%=link_to z.title, frontend_article_path(z)%></span>
                            <p><%=z.abstact%></p>
                        </div>
                    </li>
                    <% end %>
                </ul>
                <div class="licai-more"><a href="/frontend/news/5">更多>>></a></div>
            </div>
        </div>
    </div>
    <div class="huoyue-right05">
        <div class="tab-02-title"><a href="#" >活跃投友</a></div>
         <div class="right5-titles">
            <a  id="active1" class="hover" onClick="setTab('active',1,2)">经验</a>
            <a  id="active2" onClick="setTab('active',2,2)">收益</a>
        </div>
        <div class="right5content-tab">
            <div class="huoyue" id="con_active_1">
                <ul>
                    <li><a href="#"><img src="<%=asset_url('k_01.png') %>" /></a>
                    <span>李先生</span><span>3年</span><span>150%</span>
                    </li>
                    <li><a href="#"><img src="<%=asset_url('k_01.png') %>" /></a>
                    <span>李先生</span><span>3年</span><span>150%</span>
                    </li>
                    <li><a href="#"><img src="<%=asset_url('k_01.png') %>" /></a>
                    <span>李先生</span><span>3年</span><span>150%</span>
                    </li>
                    <li><a href="#"><img src="<%=asset_url('k_01.png') %>" /></a>
                    <span>李先生</span><span>3年</span><span>150%</span>
                    </li>
                    
                </ul>
            </div>
            <div id="con_active_2" style="display:none;">收益的内容</div>
        </div>
    </div>
</div>

<div class="main margin25"><a href="#"><img src="<%=asset_url('i_05.png') %>"></a></div>

<div class="main margin25" >
    <div class="pingtai-voice">
        <div class="tab-01-title"><a href="#" >平台声音</a></div>
         <div class="main7-titles">
            <a  id="voice1" class="hover" onClick="setTab('voice',1,2)">上线早知道</a>
            <a  id="voice2" onClick="setTab('voice',2,2)">平台公告</a>
        </div>
        <div class="main7content-tab">
            <div class="main-content-01" id="con_voice_1">
                    <% 
                    if @zzd.present?
                    %>
                    <div class="focusimg2">
<!--焦点图内容-->
                        <DIV class=right3>
                            <DIV class=slide-pic3 id=slidePic3>
                                <A class=gray id=prev3 hideFocus href="javascript:;">前移</A> 
                                <DIV class=pic-container>
                                    <UL>
                                        <% @zzd_pic.each do |k|%>
                                      <LI class=cur>
                                      <P><a href="<%=frontend_article_path(k)%>"><IMG src="<%= k.avatar.present? ? k.avatar : asset_url('f_01.png')  %>"></a><span class=date><span class="date3"><%=k.title%></span><%=k.abstact%></span></P>
                                      <% end %>
                                    </UL>
                                </DIV>
                                 <A id=next3 hideFocus href="javascript:;">后移</A>
                            </DIV>
                                    <SCRIPT type=text/javascript>
                                    jQuery(function(){
                                    if (!$('#slidePic3')[0]) 
                                    return;
                                    var i = 0, p = $('#slidePic3 ul'), pList = $('#slidePic3 ul li'), len = pList.length;
                                    var elePrev = $('#prev3'), eleNext = $('#next3');
                                    //var firstClick = false;
                                    var w = 247, num = 1;
                                    p.css('width',w*len);
                                    if (len <= num) 
                                    eleNext.addClass('gray');
                                    function prev(){
                                    if (elePrev.hasClass('gray')) {
                                    //alert('已经是第一张了');
                                    return;
                                    }
                                    p.animate({
                                    marginTop:-(--i) * w
                                    },500);
                                    if (i < len - num) {
                                    eleNext.removeClass('gray');
                                    }
                                    if (i == 0) {
                                    elePrev.addClass('gray');
                                    }
                                    }
                                    function next(){
                                    if (eleNext.hasClass('gray')) {
                                    //alert('已经是最后一张了');
                                    return;
                                    }
                                    //p.css('margin-left',-(++i) * w);
                                    p.animate({
                                    marginTop:-(++i) * w
                                    },500);
                                    if (i != 0) {
                                    elePrev.removeClass('gray');
                                    }
                                    if (i == len - num) {
                                    eleNext.addClass('gray');
                                    }
                                    }
                                    elePrev.bind('click',prev);
                                    eleNext.bind('click',next);
                                    pList.each(function(n,v){
                                    $(this).click(function(){
                                    if(n-i == 2){
                                    next();
                                    }
                                    if(n-i == 0){
                                    prev()
                                    }
                                    $('#slidePic3 ul li.cur').removeClass('cur');
                                    $(this).addClass('cur');
                                    show(n);
                                    }).mouseover(function(){
                                    $(this).addClass('hover');
                                    }).mouseout(function(){
                                    $(this).removeClass('hover');
                                    })
                                    });

                                    });
                                    </SCRIPT>
                     </DIV>
                    </div>
                    <div class="xinxi-01">
                        <div class="xinxi-01-title">
                            <h2><%=link_to @zzd.first.title, frontend_article_path(@zzd.first.id) %></h2>
                        </div>
                        <div class="paragraph-01">
                            <% 
                                i=1
                                @zzd_1.each do |info|
                                    if i==1
                            %>
                            <div class="red-shu fm f18 font-w600"><%=link_to info.title,frontend_article_path(info) %></div>
                            <% else %>
                            <span><%=link_to info.title,frontend_article_path(info) %></span>
                            <% 
                                end
                                i+=1
                            end 
                            %>
                        </div>
                        <div class="paragraph-01">
                            <% 
                                i=1
                                @zzd_2.each do |info|
                                    if i==1
                            %>
                            <div class="red-shu fm f18 font-w600"><%=link_to info.title,frontend_article_path(info) %></div>
                            <% else %>
                            <span><%=link_to info.title,frontend_article_path(info) %></span>
                            <% 
                                end
                                i+=1
                            end 
                            %>
                        </div>
                        <div class="paragraph-01">
                            <% 
                                i=1
                                @zzd_3.each do |info|
                                    if i==1
                            %>
                            <div class="red-shu fm f18 font-w600"><%=link_to info.title,frontend_article_path(info) %></div>
                            <% else %>
                            <span><%=link_to info.title,frontend_article_path(info) %></span>
                            <% 
                                end
                                i+=1
                            end 
                            %>
                        </div>
                    </div>
                    <% else %>
                    暂无数据
                    <% end %>    
                </div>
            <div id="con_voice_2" style=" display:none;">
                    <% 
                    if @zzd.present?
                    %>
                    <div class="focusimg2">
<!--焦点图内容-->
                        <DIV class=right31>
                            <DIV class=slide-pic31 id=slidePic31>
                                <A class=gray id=prev31 hideFocus href="javascript:;">前移</A> 
                                <DIV class=pic-container>
                                    <UL>
                                        <% @ptgg_pic.each do |k|%>
                                      <LI class=cur>
                                      <P><a href="<%=frontend_article_path(k)%>"><IMG src="<%= k.avatar.present? ? k.avatar : asset_url('f_01.png')  %>"></a><span class=date1><span class="date31"><%=k.title%></span><%=k.abstact%></span></P>
                                      <% end %>
                                    </UL>
                                </DIV>
                                 <A id=next31 hideFocus href="javascript:;">后移</A>
                            </DIV>
                                    <SCRIPT type=text/javascript>
                                    jQuery(function(){
                                    if (!$('#slidePic31')[0]) 
                                    return;
                                    var i = 0, p = $('#slidePic31 ul'), pList = $('#slidePic31 ul li'), len = pList.length;
                                    var elePrev = $('#prev31'), eleNext = $('#next31');
                                    //var firstClick = false;
                                    var w = 247, num = 1;
                                    p.css('width',w*len);
                                    if (len <= num) 
                                    eleNext.addClass('gray');
                                    function prev(){
                                    if (elePrev.hasClass('gray')) {
                                    //alert('已经是第一张了');
                                    return;
                                    }
                                    p.animate({
                                    marginTop:-(--i) * w
                                    },500);
                                    if (i < len - num) {
                                    eleNext.removeClass('gray');
                                    }
                                    if (i == 0) {
                                    elePrev.addClass('gray');
                                    }
                                    }
                                    function next(){
                                    if (eleNext.hasClass('gray')) {
                                    //alert('已经是最后一张了');
                                    return;
                                    }
                                    //p.css('margin-left',-(++i) * w);
                                    p.animate({
                                    marginTop:-(++i) * w
                                    },500);
                                    if (i != 0) {
                                    elePrev.removeClass('gray');
                                    }
                                    if (i == len - num) {
                                    eleNext.addClass('gray');
                                    }
                                    }
                                    elePrev.bind('click',prev);
                                    eleNext.bind('click',next);
                                    pList.each(function(n,v){
                                    $(this).click(function(){
                                    if(n-i == 2){
                                    next();
                                    }
                                    if(n-i == 0){
                                    prev()
                                    }
                                    $('#slidePic31 ul li.cur').removeClass('cur');
                                    $(this).addClass('cur');
                                    show(n);
                                    }).mouseover(function(){
                                    $(this).addClass('hover');
                                    }).mouseout(function(){
                                    $(this).removeClass('hover');
                                    })
                                    });

                                    });
                                    </SCRIPT>
                     </DIV>
                    </div>
                    <div class="xinxi-01">
                        <div class="xinxi-01-title">
                            <h2><%=link_to @ptgg.first.title, frontend_article_path(@ptgg.first.id) %></h2>
                        </div>
                        <div class="paragraph-01">
                            <% 
                                i=1
                                @ptgg_1.each do |info|
                                    if i==1
                            %>
                            <div class="red-shu fm f18 font-w600"><%=link_to info.title,frontend_article_path(info) %></div>
                            <% else %>
                            <span><%=link_to info.title,frontend_article_path(info) %></span>
                            <% 
                                end
                                i+=1
                            end 
                            %>
                        </div>
                        <div class="paragraph-01">
                            <% 
                                i=1
                                @ptgg_2.each do |info|
                                    if i==1
                            %>
                            <div class="red-shu fm f18 font-w600"><%=link_to info.title,frontend_article_path(info) %></div>
                            <% else %>
                            <span><%=link_to info.title,frontend_article_path(info) %></span>
                            <% 
                                end
                                i+=1
                            end 
                            %>
                        </div>
                        <div class="paragraph-01">
                            <% 
                                i=1
                                @ptgg_3.each do |info|
                                    if i==1
                            %>
                            <div class="red-shu fm f18 font-w600"><%=link_to info.title,frontend_article_path(info) %></div>
                            <% else %>
                            <span><%=link_to info.title,frontend_article_path(info) %></span>
                            <% 
                                end
                                i+=1
                            end 
                            %>
                        </div>
                    </div>
                    <% else %>
                    暂无数据
                    <% end %>   
            </div>
        </div>
    </div>
    <div class="pingtai-activity">
        <div class="tab-02-title"><a >平台活动</a></div>
         <div class="right6-titles">
            <a  href="/frontend/news/12"  class="hover">更多&nbsp;&nbsp;>>&nbsp;</a>
        </div>
        <div class="right6content-tab">
            <div class="activity">
                <ul>
                    <% @pthd.each do |p|%>
                    <li>
                        <img src="<%= p.avatar.present? ? p.avatar : asset_url('k_01.png') %>" />
                        <span><%=link_to p.title, frontend_article_path(p)%></span>
                    </li>
                    <% end %>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- <div class="main margin25"><a href="#"><img src="<%=asset_url('i_05.png') %>"></a></div> -->


