<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>系统后台</title>
    <%= stylesheet_link_tag    "backend", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "backend", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">系统后台登录</h3>
                        <% if flash[:error] %>
                        <div class="alert alert-danger alert-dismissable" style="margin-top:20px;">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <%=@error %><a href="<%=login_path %>" class="alert-link">请重新输入</a></div>
                        <% end %>
                    </div>
                    <div class="panel-body">
                        <%= form_for(:session, url: login_path) do |f| %>
                            <fieldset>
                                <div class="form-group">
                                  <%= f.text_field :nickname, :class=>'form-control'  , :placeholder=>'用户名'%>
                                </div>
                                <div class="form-group">
                                  <%= f.password_field :password, :class=>'form-control' , :placeholder=>'密码' %>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input name="remember" type="checkbox" value="Remember">记住我
                                    </label>
                                </div>
                                <%= f.submit "登 录", class: "btn btn-lg btn-success btn-block" %>
                            </fieldset>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
