<script>
function setTab(name,cursel,n){
 for(i=1;i<=n;i++){
  var menu=document.getElementById(name+i);
  var con=document.getElementById("con_"+name+"_"+i);
  menu.className=i==cursel?"hover":"title";
  con.style.display=i==cursel?"block":"none";
 }
}

</script>
<script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/buttonLite.js#style=-1&amp;uuid=&amp;pophcol=2&amp;lang=zh"></script>
<script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/bshareC0.js"></script>
    <div class="width302">
        <div class="biaozhi" style="margin-top:30px;">
<div class="bshare-custom icon-medium-plus"><a title="分享到QQ空间" class="bshare-qzone"></a><a title="分享到新浪微博" class="bshare-sinaminiblog"></a><a title="分享到人人网" class="bshare-renren"></a><a title="分享到腾讯微博" class="bshare-qqmb"></a><a title="分享到网易微博" class="bshare-neteasemb"></a><a title="更多平台" class="bshare-more bshare-more-icon more-style-addthis"></a></div>
        </div>
        <div class="right-02" id="tab1">
            <div class="tab-02-title"><a href="javascript:void(0);" >专栏文章</a></div>
             <div class="right2-titles">
                <a id="one1" class="hover" onclick="setTab('one',1,2)">24小时</a>
                <a id="one2" onclick="setTab('one',2,2)">周文章</a>
               
            </div>
            <div class="right2content-tab">
                <div class="kuaixun" id="con_one_1">
                    <ul>
                        <%
                            columns = Column.order(created_at: :asc)
                            zl = columns.limit(4).offset(1)
                            yz = columns.limit(4).offset(5)
                            zl.each do |c|
                        %>
                        <li>
                            <!-- <a href="#"><img src="images/k_01.png" /></a> -->
                        <span><%= link_to c.title , frontend_column_path(c,:state=>"columns")%></span>
                        </li>
                        <% end %>
                    </ul>
                </div>
                <style>
                    #con_one_2 li {float: left; list-style: none;   border-bottom: 1px solid #d2d2d2; width: 100%; padding: 12px 0px;}
                    #con_one_2 li span a{font-size: 18px; font-family: 微软雅黑; color: #394045; padding: 0px 12px; display: block;  overflow: hidden;}
                </style>
                <div id="con_one_2" style="display:none;">
                    <% yz.each do |y| %>
                        <li>
                            <!-- <a href="#"><img src="images/k_01.png" /></a> -->
                        <span><%= link_to y.title , frontend_column_path(y,:state=>"columns")%></span>
                        </li>
                    <% end %>
                </div>
            </div>
        </div>
<!--         <div class="right-03">
            <a href="#"><img src="<%=asset_url('k_02.png') %>" /></a>
        </div> -->
        
        <div class="right-04">
            <div class="tab-02-title"><a href="#" >行业服务</a></div>
             <div class="right4-titles">
                <a  class="hover" id="service1"onclick="setTab('service',1,2)">建站</a>
                <a  id="service2" onClick="setTab('service',2,2)">咨询</a>
               
            </div>
            <div class="right4content-tab">
                <div class="buildweb" id="con_service_1">
                    <div class="buildweb-top">
                        <div id="Big_Slide_box">
                            <div id="Big_Slide">
                                <ul>
                                    <li  id="Big_Slide_0"><a href="http://www.zrhx111.com"><img src="<%=asset_url('banner3.jpg') %>"></a></li>
                                    <li  id="Big_Slide_1"><a href="http://www.zrhx111.com"><img src="<%=asset_url('banner2.jpg') %>"></a></li>
                                    <li  id="Big_Slide_2"><a href="http://www.zrhx111.com"><img src="<%=asset_url('banner1.png') %>"></a></li>
                                </ul>
                                <a id="Big_Slide_Last"></a>
                                <a id="Big_Slide_Next"></a>
                                
                                <div id="prevL" class="prev" ></div>
                                <div id="prevR" class="prev" ></div>
                            </div>
                        </div>
                    
                    </div>
                    <div class="buildweb-down1">
                        <p>中融网贷系统拥有超过4个主流开发
    平台,100人以上的开发技术团队，
    服务超过120家企业完成超过10000
    张产品设计！我们了解大中小型企业
    的生意模式，需求，我们倡导让客户
    感知产品的应用价值，而不仅是产品
    的功能。</p>
                    </div>
                </div>
                <div id="con_service_2" style="display:none;">
                    <div class="buildweb-down1">
<p> </p>
<p> 客服热线：400-813-1080 </p>
<p> 服务邮箱：md@zrhx111.com </p>
<p> 公司地址：北京丰台区玉林里1号北京商务会馆8楼</p>
                    </div>
                </div>
            </div>
        </div>
        
    </div>